{% extends "base.html" %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block stylesheet %}

<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock stylesheet %}

{% block content %}
<!-- <div class="container text-center">
  <h1>Dealer Dashboard</h1>
</div> -->
<div class="sidenav">
    <a href="#">DETAILS</a>
    <a href="{% url 'vehicle_register' %}">ADD VEHICLE</a>
    <a href="">YOUR VEHICLE</a>
    <a href="{% url 'logout' %}"><button type="button" class="btn btn-primary">SignOut</button></a>
</div>
{% endblock content %}


{% block footer-js %}
{% if messages %}
{% for message in messages %}
<script>
  alertify.set('notifier', 'position', 'top-center');
  alertify.success('{{message}}');
</script>
{% endfor %}
{% endif %}
{% endblock footer-js %}
