{% extends 'base.html' %}
{% block content %}



<div class="container" style="margin-bottom: 70px;">
  <div class="back_arrow">
    <a href="{{request.META.HTTP_REFERER}}"><i class="fa-solid fa-arrow-left"></i> Go back</a>
  </div>

  <br />


  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ vehicle.image.url }}" class="img-fluid rounded-start" alt="...">
        <small>Owned by: @{{vehicle.uploaded_by}}</small>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="vehicle_model_1 vehicle_model">{{ vehicle.vehicle_model }}</h5>
          <br />
          <p class="card-text justified">{{ vehicle.description }}</p>


          <br /><br />
          {% if request.user.is_customer %}
          <a href="{% url 'rent_page' vehicle.id %}"><button type="button" class="btn learn-more">Rent</button></a>
          {% else %}
          <a href="/customer_needed/"><button type="button" class="btn learn-more">Rent</button></a>
          {% endif %}
          <h4 style="float: right;"><strong>RS {{vehicle.rent_price}}</strong></h4>
          <br>
          <br>

        </div>
      </div>
    </div>
  </div>

  <h1>Reviews</h1>
  <ul>
    {% for review in reviews %}
    <li>
        <strong>{{ review.user.username }}</strong>: 
        <span class="star-rating">
          {% for i in range %}
              <i class="fa {% if review.rating >= i %}fa-star{% else %}fa-star-o{% endif %}"></i>
          {% endfor %}
      </span> - {{ review.comment }} 
        ({{ review.created_at }})
    </li>
    {% endfor %}
</ul>

<a class="btn learn-more" data-bs-toggle="collapse" href="#review" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    Add a Review
                </a>


                <div class="collapse" id="review">
                  <div class="card card-body">
                      <div class="row">
                              <form class="form" method="POST">
                                {% csrf_token %}
                        
                                <p class="title">{{ vehicle.vehicle_model }} </p>
                                {{ form.as_p }}
                                
                              <button class="btn learn-more" type="submit">Submit</button>
                          </form>
                      </div>
                  </div>
              </div>
</div>




{% endblock %}