{% extends "base.html" %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock stylesheet %}

{% block content %}



<div class="container login-register-container">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6">
            <form class="form" method="POST"  action="{% url 'dealer_homepage' %}" enctype="multipart/form-data">
                {% csrf_token %}

                <p class="title">REGISTER VEHICLE </p>
                    {{ form.as_p }}
                    <button class="submit">Submit</button>
                  </form>
        </div>
    </div>
</div>


{% endblock content %}
